{% extends 'starter.html' %}
{% block title %} <h3> Edit Task: {{task_name}} </h3> {% endblock %}
{% block content %}

<div class="cols-6">
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    <label for="new_task">Task Name:</label>
    <input id="task" type="text" name="task" value="{{task_name}}">
    <label for="status">Status:</label>
    <input id="status" type="text" name="status" value="{{task_status}}">
    <input type="submit" value="Edit Task">
  </form>
</div>
{% endblock %}